<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 internal error</title>
</head>
<body>
    <h1>Sorry we cannot found what you search </h1>
    <h2>There is multiple possibilities if you see this page:</h3>
    <p>If you see this page atfer try to log in:<br>
    <ul>
        <li>Check if you enter the good email</li>
        <li>Check if your club's email if the same than one you enter</li>
    </ul></p>
    <a href="{{url_for('index')}}">Home</a>
</body>
</html>